body {
    float: left;
}
.hasy { /* Круг для часов */
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5em;
    border: 4px solid #294e4d;
    border-radius: 50%;
}

.minutes { /* Минутная стрелка */
    position: absolute; /*Позиционируем относительно .hasy */
    width: 3px; /* Толщина стрелки */
    height: 35px; /* Длина стрелки */
    left: 51px; /*Положение стрелки*/
    top: 16px;
    background: #465151;
    animation: now 1600s infinite steps(1600); /* Скорость и движение стрелки */
    transform-origin: 0 34px; /* Точка относительно которой вращается стрелка */
}

.has {
    position: absolute;
    width: 4px;
    height: 28px;
    left: 50px;
    top: 20px;
    background: #009B95;
    animation: nov 43200s infinite steps(43200);
    transform-origin: 0 29px;
}

.sekundes {
    position: absolute;
    width: 2px;
    height: 45px;
    left: 51px;
    top: 4px;
    background: #48d1cc;
    animation: nev 60s infinite steps(60);
    transform-origin: 0 45px;
}

@keyframes nev {
    100%{
        transform: rotate(360deg); /* Стрелка делает полный круг */
    }
}

@keyframes nov {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes now {
    100%{
        transform: rotate(360deg);
    }
}

.onen, .threen, .sixn, .ninen { /* Цифры на циферблате */
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #48d1cc;
}

.onen {
    top: 3px;
    left: 41px;
}

.threen {
    top: 43px;
    left: 85px;
}

.sixn {
    top: 78px;
    left: 43px;
}

.ninen {
    top: 43px;
    left: 5px;
}

.sentr { /* Центр циферблата */
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 42px;
    left: 44px;
    background: #009B95;
}

.input-anim{
    margin: 10%;
}
.input-style{
    position: relative;
    border: 3px solid #cccccc;
    border-radius: 3px;
    background: #00ffc4;
    outline: none;
    height: 50px;
    width: 230px;
    color: #390e0e;
    font-size: 18px;
    font-family: Tahoma;
    padding: 10px;
    transition-property: width,height,font-size;
    transition-duration: .5s;
    ttransition-timing-function: ease;
}
.input-style:hover{
    font-size: 30px;
    width: 400px;
    height: 100px;
}
.trio{
    position: relative;
    background: #ffffff;
    width: 300px;
    height: 300px;

}
.trio-krug{
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 10%;
    background: #737979;
    border-radius: 100%;
    float: left;
}

.trio-1{
    animation: col 2s infinite ease-in-out;
    position: absolute;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #00ffc4;
    animation-delay: 0s;
}
.trio-2{
    animation: col 2s infinite ease-in-out;
    margin-top: 100px;
    position: absolute;
    left: 9%;
    width: 0;
    height: 0;
    border-bottom: 100px solid #00ffc4;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    animation-delay: 4s;
}
.trio-3{
    animation: col 2s infinite ease-in-out;
    right: 8%;
    margin-top: 100px;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 100px solid #00ffc4;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    animation-delay: 6s;
}


@keyframes run {
    0% {
        transform: rotate(360deg) translateX(0px) rotate(360deg);
    }
}
@keyframes col{
    100%{
        border-bottom: 100px solid #ffffff;
    }
}